* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #264653;
    --secondary: #2A9D8F;
    --teritary: #E9C46A;
}

.page-title {
    background-color: var(--primary);
    text-align: center;
}

.page-title h1 {
    color: white;
    font-size: 35px;
    padding: 15px 0;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

.charge-info {
    background-color: var(--secondary);
    text-align: center;
    padding-bottom: 20px;
}

.content-title {
    color: white;
    font-size: 25px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

.usr-select {
    margin: 20px 0 40px;
}

.text-input {
    min-width: 350px;
    text-align: center;
    font-family: 'Enriqueta', serif;
    height: 55px;
    margin: 0 10px;
}

#search-station {
    background-color: var(--teritary);
    padding: 15px;
    font-family: 'Enriqueta', serif;
    font-weight: bold;
    border-radius: 10px;
    margin: 0 10px;
}

#search-station:hover {
    background-color: var(--primary);
    color: white;
}

.chargers-info {
    background-color: var(--teritary);
    margin: 25px;
}

.location-list {
    padding: 20px;
}

.pwr-location {
    flex-basis: 65%;
}

.pwr-location iframe {
    min-height: 450px;
}

#location-title {
    color: black;
}

.station-info {
    background-color: var(--primary);
    margin: 20px 10px;
    color: white;
    font-family: 'Enriqueta', serif;
    text-align: left;
}

.station-info p {
    margin: 15px 0;
    padding: 5px 10px;
}

.wth-info {
    background-color: var(--teritary);
    text-align: center;
    padding-bottom: 50px;
}

#weather-title {
    color: black;
    padding-top: 20px;
    margin-bottom: 25px;
}

.weather {
    background-color: var(--secondary);
    margin: 0 20%;
    padding-bottom: 20px;
}

.weather h3 {
    font-family: 'Enriqueta', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: auto;
}

.weather p {
    font-family: 'Enriqueta', serif;
    font-size: 20px;
}

.weather-alert {
    width: 60%;
    margin: 20px auto;
    background-color: var(--primary);
    color: white;
}

.weather-alert p {
    font-style: italic;
    margin: 15px 0;
    font-size: 18px;
}

.weather-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.weather-alert p strong {
    font-style: normal;
    font-size: 20px;
}

footer {
    background-color: var(--primary);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

#pop-up {
    Background: black;
    Box-sizing: border-box;
    Padding: 10px;
    Position: absolute;
    top: 50%;
    left: 50%;
    Transform: translate(-50%, -50%);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    border: 5px solid white;
    text-align: center;
    display: none;
}

#close-btn {
    background-color: var(--teritary);
    color: black;
}

#close-btn:hover {
    background-color: var(--secondary);
    color: white;
}